# Server Configuration
PORT=3000

# Database Configuration
# MongoDB connection string
MONGO_DB=mongodb://localhost:27017/attendifyDB

# Security
# Secret key for JWT signing and verification
JWT_SECRET=your_jwt_secret_here
