@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

:root {
    --black1: hsl(0, 0%, 5%);
    --black2: hsl(0, 0%, 10%);
    --black3: hsl(0, 0%, 15%);
    --black4: hsl(0, 0%, 20%);
    --black5: hsl(0, 0%, 25%);

    --white1: hsl(0, 0%, 95%);
    --white2: hsl(0, 0%, 90%);
    --white3: hsl(0, 0%, 85%);
    --white4: hsl(0, 0%, 80%);
    --white5: hsl(0, 0%, 75%);

    --blackno: 13, 13, 13;
    --whiteno: 242, 242, 242;

    --true: rgb(76, 175, 80);
    --false: rgb(175, 76, 80);
}
*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Baloo 2' ;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 8px;
    background-color: var(--black1);
    color: var(--white1);
    position: relative;
}
nav{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0 1px 15px var(--white3);
}
nav a{
  text-decoration: none;
  color: var(--white1);
}
.hide{
    display: none !important;
}
@media(max-width: 750px){
  nav{
    font-size: 1.7rem;
  }
}

/* Scroll bar redesign */
*::-webkit-scrollbar {
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background: var(--black1);
  }
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    border: 3px solid var(--black1);
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(85, 85, 85);
  }

/* ---------------NOTIFICATIONS--------------- */
#notification-container{
  height: 100%;
  width: min(50%,500px);
  position: fixed;
  right: 0;
  pointer-events: none;
  z-index: 99;
}
.notifications{
  position: absolute;
  bottom: 20px;
  height: fit-content;
  width: 80%;
  background-color: rgba(var(--blackno),0.8);
  backdrop-filter: blur(10px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  font-family: inherit;
  border: solid var(--black4) 5px;
  border-radius: 15px 15px 0 15px;
  transform: translateX(450px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, 
              opacity 0.5s ease-in-out, 
              bottom 0.5s ease-in-out;
}
.notifications.animate{
  transform: translateX(0);
  opacity: 1;
}
/* ----------------GLOBAL POPUP STYLES---------------- */
#popup-bg{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(10px);
}
#popup{
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: fit-content;
  width: min(600px,60%);
  min-width: 300px;
  background-color: var(--black2);
  font-family: inherit;
  border: solid var(--black4) 5px;
  border-radius: 15px;
  display: grid;
  place-items: center;
}
#popup > span{
  aspect-ratio: 1/1;
  height: 20px;
  position: absolute;
  top: 2%;
  right: 2%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  color: var(--white5);
}
#popup > span:hover{
  color: rgb(240, 70, 70);
  cursor: pointer;
}
#popup > #popup-body{
  width: 100%;
}
#popup input:disabled{
  background-color: var(--black3);
  font-style: italic;
}